.header {
  text-align: center;
  margin: auto;
  padding-bottom: 2em;
}

.title {
  padding: 0.5em;
  margin: 0em;
}

.link {
  color: var(--body-text);
  text-decoration: none;
}

.description {
  font-size: 0.75rem;
  font-style: italic;
}
